<div class="" un-cloak>
  <div class="w-full relative mx-auto max-w-[1300px]">
    <div class="flex flex-col p-8 relative w-full h-[calc(100vh_-_58px)]">
      <form
        method="POST"
        action="/api/v1/confirm"
        class="flex flex-col rounded items-center w-[min(100%_,_400px)] p-4 m-auto"
      >
        <input name="digits" id="digits" hidden />
        <input name="email" id="email" value="{{ .Email }}" hidden />

        <i
          class="ri-links-line text-[50px] aspect-square flex items-center justify-center mb-4"
        ></i>
        <h1 class="text-foreground text-[24px] font-semibold text-center mb-1">
          Welcome to Shink!
        </h1>

        <p class="text-foreground/75 text-[14px] mb-6 text-center">
          Please confirm your email to continue.
        </p>

        <div
          id="inputs-container"
          class="flex flex-wrap gap-2 items-center justify-center"
        ></div>

        <button
          class="flex items-center font-medium mt-4 w-full transition-colors text-background hover:text-foregorund justify-center py-2 px-4 bg-foreground hover:bg-foreground:90 rounded-[6px] border border-foreground hover:border-foreground:90"
        >
          Submit
        </button>
      </form>
    </div>
  </div>
</div>

<script>
  const { div, input, i } = van.tags;

  const digits = [
    van.state(""),
    van.state(""),
    van.state(""),
    van.state(""),
    van.state(""),
    van.state(""),
  ];

  const activeIndex = van.state(0);

  const container = document.querySelector("#inputs-container");

  const Input = (props) =>
    div(
      {
        class:
          "w-fit relative flex items-center justify-center rounded-[6px] p-2 border border-foreground:10",
      },
      input({
        class: "w-5 max-w-5 text-center flex-shrink outline-none aspect-square",
        ...props,
      })
    );

  digits.forEach((_, idx) => {
    van.add(
      container,
      Input({
        id: `input${idx}`,
        value: digits[idx].val,
        oninput: (e) => {
          const val = e.target.value.substring(e.target.value.length - 1);
          digits[idx].val = val;
          e.target.value = val;
          if (idx < 5 && val) ++activeIndex.val;
        },
        onkeydown: (e) => {
          if (digits[idx].val) return;

          const key = e.key;
          if (key === "Backspace" && idx > 0) {
            --activeIndex.val;
            e.preventDefault();
          }
        },
        onfocus: () => {
          if (activeIndex.val === idx) return;
          activeIndex.val = idx;
        },
      })
    );
  });

  van.derive(() => {
    container.querySelector(`#input${activeIndex.val}`)?.focus();
  });

  van.derive(() => {
    const el = document.querySelector("#digits");
    if (el) el.value = digits.map((digit) => digit.val).join("");
  });
</script>
